body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
display: flex;
justify-content: center;
height: 34px;
margin: 10px auto 15px;
}

form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea
}

.search {
    border: none;
    background-color: #eaeaea;
    font-weight: bold;
    margin: 15px 15px 15px;
}

.icon-search {
    margin-top: 15px;
    color: #4f4f4f;

}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    padding: 40px 0 40px 0;
}

h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    font-weight: bold;
}

.link-restaurant {
    color: white;
    border-radius: 45px;
    background: linear-gradient(#ec73da, #9f5adc);
    width: 15%;
    padding: 15px 10px 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-decoration:none;
    
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    align-self: center;
}

.ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}