body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
display: flex;
justify-content: center;
height: 34px;
margin: 10px auto 15px;
}

form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea
}

.search {
    background-color: none;
    border: none;
    font-weight: bold;
    margin: 15px 15px 15px;
}

.icon-search {
    margin-top: 15px;
    color: #4f4f4f;

}