<!DOCTYPE html>
<html lang="fr">
    <!-- En-tete de la page -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>À la française - Cite-rouge</title>

        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style">
        <link rel="preload" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" as="style">
        <link rel="preload" href="../style.css" as="style">

        <meta name="description" content="OC DW P3 - Ohmyfood!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>  
        <header class="header-food">
            <a href="https://github.com/Ousmane-DIAKITE/OusmaneDiakite_3_13112021/blob/559fac8aaefa2de1c20fa46a4544638e8cf9e6c4/index.html">
                <i class="fas fa-arrow-left"></i>
                <img src="..\images\logo\ohmyfood.png" alt="logo" class="logo"/>
            </a>
        </header>
        <main>
            <header class="main-header-food">
                <img src="..\images\restaurants\toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="Photo d'un plat du restaurant À la française - Cite-rouge"/>
                <h1>À la française</h1>
                <label>
                    <i class="far fa-heart"></i>
                </label>
            </header>
            <section>
                <h2>Entrées</h2>
                <ul>
                    <li>
                        <h3>Tartare de poulpe acidulé</h3>
                        <p>Aux zests d'orange</p>
                        <p>25€</p>
                    </li>
                    <li>
                        <h3>Velouté de légumes d'antan</h3>
                        <p>Carotte, panais, topinambour</p>
                        <p>35€</p>
                    </li>
                    <li>
                        <h3>Soupe à l'oignon</h3>
                        <p>Revisitée</p>
                        <p>20€</p>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Plats</h2>
                <ul>
                    <li>
                        <h3>Coquilles Saint-Jacques</h3>
                        <p>Acocompagné d'une purée de panais</p>
                        <p>40€</p>
                    </li>
                    <li>
                        <h3>Margret dey canard</h3>
                        <p>Et parmentier de pommes de terres</p>
                        <p>35€</p>
                    </li>
                    <li>
                        <h3>Pigeonneau d'Ille-et-Vilaine</h3>
                        <p>Sur son lit de gnocchis aux légumes</p>
                        <p>44€</p>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Desserts</h2>
                <ul>
                    <li>
                        <h3>Pétales de violettes glacés</h3>
                        <p>Et purée de noisettes</p>
                        <p>18€</p>
                    </li>
                    <li>
                        <h3>Fondant au chocolat</h3>
                        <p>Revisité</p>
                        <p>22€</p>
                    </li>
                    <li>
                        <h3>Millefeuille croustillant</h3>
                        <p>Myrtilles et pâye d'amande</p>
                        <p>23€</p>
                    </li>
                </ul>
            </section>
            <button>Commander</button>
        </main>
        <footer>
            <h3>ohmyfood</h3>
            <ul>
                <li>
                    <a href="#" class="footer-link">
                        <i class="fas fa-utensils"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link">
                        <i class="fas fa-hands-helping"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link">
                        Mentions légales
                    </a>
                </li>
                <li>
                    <a href="mailto:#" class="footer-link">
                        Contact
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>
