<!DOCTYPE html>
<html lang="fr">
    <!-- En-tete de la page -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Le délice des sens</title>

        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" as="style">
        <link rel="preload" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" as="style">
        <link rel="preload" href="../style.css" as="style">

        <meta name="description" content="OC DW P3 - Ohmyfood!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="../style.css">
    </head>
    
    <body>  
        <header class="header-food">
            <a href="../index.html">
                <i class="fas fa-arrow-left"></i>
                <img src="../images/logo/ohmyfood@2x.svg" alt="logo" class="logo"/>
            </a>
        </header>
        <main class="main-food">
            <section class="main-header-food">
                <img src="../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg" alt="Photo d'un plat du restaurant Le délice des sens"/>
                <div>
                    <h1>Le délice des sens</h1>
                            <i class="far fa-heart heart">
                                <i class="fas fa-heart heart-bg"></i>
                            </i>
                </div>
            </section>
            <section class="list-food">
                <h2>Entrées</h2>
                <ul class="list-food-submenu-1">
                    <li>
                        <div class="menu-description">
                            <h3>Tarte de thon</h3>
                            <p>Assaisonné au yuzu</p>
                        </div>
                        <b>25€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Bouchée de homard croustillant</h3>
                            <p>Et sa farandole de petits légumes</p>
                        </div>
                        <b>35€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Velouté de cèpes</h3>
                            <p>Aux truffes</p>
                        </div>
                        <b>20€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="list-food">
                <h2>Plats</h2>
                <ul class="list-food-submenu-2">
                    <li>
                        <div class="menu-description">
                            <h3>Poulet rôti aux herbes de provence</h3>
                            <p>Et sa crème de truffe</p>
                        </div>
                        <b>40€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Langouste rôtie</h3>
                            <p>Et ses légumes de saison</p>
                        </div>
                        <b>35€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Côte de boeuf angus</h3>
                            <p>Et sa purée de panais</p>
                        </div>
                        <b>44€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="list-food">
                <h2>Desserts</h2>
                <ul class="list-food-submenu-3">
                    <li>
                        <div class="menu-description">
                            <h3>Farandole de desserts</h3>
                            <p>Du chef</p>
                        </div>
                        <b>18€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Crème brulée</h3>
                            <p>Revisitée</p>
                        </div>
                        <b>22€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="menu-description">
                            <h3>Tiramisu</h3>
                            <p>À la noisette</p>
                        </div>
                        <b>23€</b>
                        <div class="container-icon">
                            <div class="container-icon-check">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <button>Commander</button>
        </main>
        <footer>
            <h3>ohmyfood</h3>
            <ul>
                <li>
                    <a href="#" class="footer-link">
                        <i class="fas fa-utensils"></i>
                        Proposer un restaurant
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link">
                        <i class="fas fa-hands-helping"></i>
                        Devenir partenaire
                    </a>
                </li>
                <li>
                    <a href="#" class="footer-link">
                        Mentions légales
                    </a>
                </li>
                <li>
                    <a href="mailto:#" class="footer-link">
                        Contact
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>
